[access]
	inheritFrom = Silkroad-Projects
[access "refs/heads/*"]
	create = group silkroad
	forgeAuthor = group silkroad
	forgeCommitter = group silkroad
	pushTag = group silkroad
[access "refs/tags/*"]
	forgeAuthor = group silkroad
	forgeCommitter = group silkroad
	pushTag = group silkroad
	create = group silkroad
